.login-form-container {
    background-color: white;
    margin:100px 0px 0px 0px;
}

.login-form-text {
    color: #95a4b6;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 12px;
}

.login-forgot-password {
    color: #95a4b6;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 12px;
    float: right;
    margin-top:5px;
}

.login-failed {
    color: red;
    font-size: 13px;
}

.login-sign-up {
    color: #95a4b6;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 14px;
    display: inline-block;
}

.login-sign-in {
    background-image: linear-gradient(#2e5afe, #234ad6);
    margin: 30px 0 0 0;
    font-size: 15px !important;
    padding: 15px !important;
}

.login-subHeading {
    color: #95a4b6;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 14px;
}

.login-heading {
    color: #2e384d;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 30px;
}

.login-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0);
    border-color: #eff2ff !important;
    padding: 0px;
    margin: 100px;
    width: 430px;
}

.login-card-body {
    padding: 50px !important;
}

.login-input-border {
    border: 2px solid #eff2ff !important;
    background-color: #f9faff !important;
}
